<a routerLink="/deals" class="list-group-item clearfix"   *ngIf="singleMenuItem.itemCategory === itemCategorySelected">
   <div class="pull-left">
      <h4 class="list-group-item-heading"> {{singleMenuItem.itemName}} </h4>
      <div class="row">
              <div class="col-md-5">
                      <p class="list-group-item-text">
                              Crust                                
                           </p>
              </div>
          <div class="col-md-6">
                  <p class="list-group-item-text">
                          {{singleMenuItem.itemCrust}}                              
                       </p>
          </div>
      </div>
     
  </div>
  <span class="pull-right">
      <img src="{{singleMenuItem.imagePath}}" alt="{{singleMenuItem.itemName}}" class="image-responsive" style="max-width:50px;max-height: 50px;">
  </span>
</a>