.panel-body{
    height: 0;
}

.content {
  position: absolute;
  left: 90%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

div{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.help-block{
 font-family: cursive;
}

span{
  color:green;
}