<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <app-menu-component></app-menu-component>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <app-menu-category></app-menu-category>
        </div>
        <div class="col-md-8">
            <app-menu-items></app-menu-items>
        </div>
    </div>
    <hr>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <app-menu-item-desc></app-menu-item-desc>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <app-menu-items-edit></app-menu-items-edit>
        </div>
    </div>
  </div>
