<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">
            New Menu-Item
        </button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12" >
        <a href="#" class="list-group-item clearfix" *ngFor="let menuItem of menuItems">
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{menuItem.name}}</h4>
                <p class="list-group-item-text">
                   Crust : {{menuItem.crust}}                              
                </p>
            </div>
            <span class="pull-right">
                <img src="{{menuItem.imagePath}}" spinner-on-load alt="{{menuItem.name}}" class="image-responsive" style="max-width:50px;max-height: 50px;">
            </span>
        </a>
            <app-menu-item></app-menu-item>
    </div>
</div>


