<div class="row">
       <div class="col-xs-8" >
        <app-menu-item *ngFor="let menuItem of menuItems" [singleMenuItem] = 'menuItem'></app-menu-item>
    </div>
</div>
<hr>
<div class="row" >
    <div class="col-xs-10" >
        <div class="btn-group" appDropdown>
            <button class="btn btn-success dropdown-toggle"  (click)="addNewDish()" >
                Add new {{categorySelected}}
                <!-- <span class="caret"></span> -->
            </button>
            <!-- <ul class="dropdown-menu">
                <li><a routerLink="edit" (click)="addNewDish()" >To Pizzas</a></li>
                <li><a routerLink="/">To Pastas</a></li>
                <li><a routerLink="/">To Sides</a></li>
                <li><a routerLink="/">To Drinks</a></li>
            </ul> -->
        </div>
    </div>
</div>


