
<div class="row">
    <div class="col-xs-12" >
        <app-menu-item *ngFor="let menuItem of menuItems" [singleMenuItem] = 'menuItem'></app-menu-item></div></div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdown>
            <button class="btn btn-success dropdown-toggle" >
                Add new dish to the category  <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">To List</a></li>
                <li><a href="#">To List1</a></li>
                <li><a href="#">To List2</a></li>
            </ul>
        </div>
    </div>
</div>


