<div class="row">
  <div class="col-md-12">
    <form (ngSubmit)="onSubmitForm(f)" #f="ngForm">
    <div class="row">
      <div class="col-md-5 form-group">
        <label for="name">{{itemcategory}} Name</label>
        <input type="text"
         id="name"
         name="name" 
         class="form-control"
         required
         ngModel
         #name="ngModel">
         <span class="help-block" *ngIf="!name.valid && name.touched">Name Value Required!!</span>
      </div>
      <div class="col-md-2 form-group" ngModelGroup="ingredients" >
          <label for="ingredient">Type</label>
          <br>
          <label><input type="radio" name="ingredient" value="Vegeterian" ngModel required>Vegeterian</label>
          <label><input type="radio" name="ingredient" value="Non-Vegeterian" ngModel required>Non-Vegeterian</label>
      </div>
    </div>
  <div class="row">
    <div class="col-md-5 form-group">
        <label for="imagePath">Image URL</label>
        <input type="text" id="imagePath" class="form-control" name="imagePath" ngModel required #imagePath="ngModel">
        <span class="help-block" *ngIf="!imagePath.valid && imagePath.touched">URL Value Required!!</span>
    </div>
    <div class="col-md-5 form-group">
        <img [src]="imagePath.value" [alt]="imagePath" class="image-responsive" style="max-width:150px;max-height: 150px;">
    </div>
  </div>
  <label for="property">What all options are available for {{itemProperty.customProperty}} ? {{propControlInvalid}}</label>
  <div ngModelGroup="property">
     
      <div class="row" *ngFor ="let val of itemProperty.value; let i=index;" >
        <div class="col-md-3 form-check" >
          <input type="checkbox" class="form-check-input" [name]="val"  ngModel >
          <label class="form-check-label" for="property" > &nbsp;&nbsp;{{val}}</label>
        </div>
        <span class="help-block" *ngIf="propControlInvalid && property.touched">URL Value Required!!</span>
      </div>
  </div>
  
  <hr>
    <div class="row">
        <div class="col-xs-12 form-group">
          <button type="submit" class="btn btn-success" (click)="addItem()" [disabled] ="!f.valid">Add</button>
          <button type="button" class="btn btn-danger" (click)="deleteItem()">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="clearItem()">Clear</button>
        </div>
    </div>
  </form>
  </div>
</div>