.btn{
    margin-left: 4px;
}

input.ng-touched.ng-invalid{
    border: solid 1px red;
}

img{
    height : 100px;
    width: 100px;
}
form{
    
}
div{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100%;
}
